@import url('../../App.module.css');

.label {
    position: relative;
    width: 100%;
}

.title {
    margin-bottom: 5px;
    padding-left: 10px;
    color: var(--light-color);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
}

.input {
    width: 100%;
    padding: 15px;
    background-color: var(--medium-color);
    transition: outline .2s ease-in-out, background-color .2s ease-in-out;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: var(--letter-spacing);
    word-spacing: 2px;
    border: none;
    border-radius: var(--border-radius);
    color: var(--dark-color);
    outline: 3px solid transparent;
}

.input::placeholder {
    color: #757687;
}

.input:hover,
.input:active,
.input:focus {
    outline: 3px solid var(--light-color);
}

.errorContainer {
    position: absolute;
    top: 80px;
    left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.error {
    font-size: 0.8rem;
    color: var(--error-color);
}