@import url('../../App.module.css');

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
}

.inputTitle {
    padding-left: 10px;
    color: var(--light-color);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
}

.input {
    width: 100%;
    padding: 15px;
    background-color: var(--medium-color);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: var(--letter-spacing);
    word-spacing: 2px;
    border: none;
    border-radius: var(--border-radius);
    color: var(--dark-color);
    outline: 3px solid transparent;
    transition: outline .2s ease-in-out, background-color .2s ease-in-out;
}

.input::placeholder {
    color: #757687;
}

.input:hover,
.input:active,
.input:focus {
    outline: 3px solid var(--light-color);
}