@import url('../../App.module.css');

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.submitButton {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: var(--letter-spacing);
    word-spacing: 2px;
    border: none;
    border-radius: var(--border-radius);
    color: var(--dark-color);
    padding: 20px 15px;
    cursor: pointer;
    background-color: var(--light-color);
    outline: 3px solid transparent;
    transition: letter-spacing .2s ease-in-out, outline .2s ease-in-out;
}

.submitButton:focus,
.submitButton:hover {
    outline: 3px solid var(--medium-color);
}

.submitButton:active {
    letter-spacing: calc(var(--letter-spacing) * 2);
}